

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div id="topBanner">
  <div id="product_container">
  
    <div class="show_item">
      <h1><%= @item.title %></h1>
      
      
        <%= image_tag @item.image_url, :class => 'showIm' %>

       <h1>Price <%= number_to_currency(@item.price, :unit => "€") %></h1>
       
       
          
        
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>


        <br>
        <div class="itemDesc">
                <%= @item.description %>
        </div>
        <br>
         Category: <%= @item.category %>
         <br>
         
       
          
        
                    <%= link_to 'Back',  items_path, :class => "button", :role => "button" %>
                    <a href="/cart/<%= @item.id %>" class="button">Add to Cart</a>
                <% if session[:login] == 1 %>
                    <%= link_to 'Edit',  edit_item_path(@item), :class => "button", :role => "button" %>
                <% end %>
      </div>
  </div>

    </div>



